@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

img{
    max-width:100%;
}

/*Button style-----------------------------------------*/
.btn-crimson{
    background: crimson;
    margin-top: 20px;
    padding: 8px 30px;
    border-radius: 25px;  
}
.btn-crimson:hover{
    background: transparent;
    border: 1px solid crimson;
    transition: .5s;
}
.btn-crimson a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.btn-crimson:hover a{
    color:crimson;
    transition: .5s;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.w-full {
    width: 200px;
}
/* navbar styling--------------------- */
.home-section{
    background-color: #0c192c;
}

.navbar{
    transition: all 0.3s ease ;
    font-family: 'ubuntu', sans-serif;
    border-bottom: 1px solid wheat;
}
.navbar.sticky{
    background: crimson;
    padding: 0px 0px;  
}
.navbar-brand{
    font-size: 35px;
    font-weight: 600;
}
.navbar-brand span{
    color: crimson;
    transition: all 0.3s ease ;
}
.navbar.sticky .navbar-brand span{
    color: white;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
}
.active:hover{
    color: crimson !important;
    transition: color 0.3s ease;
}
.navbar.sticky .active:hover{
    color: #0938d1 !important;
}



/* Background css part ---------------------------------*/

.back-ground{
    padding: 115px 0;
    background-color: #0c192c;
    position: relative;
    overflow: hidden;
    height: auto;
}

.bubble p{
    position: relative;
    height: 10px;
    width: 10px;
    background-color: rgb(5, 221, 225);
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc ;
    margin: 0 5px;
    animation: animate 30s linear infinite;
    animation-duration: calc(100s / var(--i));
}
.bubble p:nth-child(even){
    box-shadow: 0 0 0 10px #d72e1144,
    0 0 50px #a03e31,
    0 0 100px #b0512e ;
    background-color: crimson;
}

@keyframes animate 
{
    0%{
        transform: translateY(100vh) scale(0);
    }
   100%{
        transform: translateY(0vh) scale(.7);
    }
}

.slider-part{
    margin-top: 40px;
    display: inline-block;
}

.slider-part .text-1{
    font-size: 27px;
    color: white;
    font-family: 'ubuntu', sans-serif;
}

.slider-part .text-2{
    font-size: 75px;
    font-weight: 600;
    color: white;
    font-family: 'ubuntu', sans-serif;
}

.slider-part .text-3{
    font-size: 40px;
    color: white;
    font-family: 'ubuntu', sans-serif;
}
.slider-part .text-3 span{
    color: crimson;
    font-weight: 700;
}

.side-menubar{
    display: inline-block;
    position: absolute;
    right: 1%;
    position: fixed;
    z-index: 999;
}
.side-menubar i{
    color: crimson;
    width: 50px;
    margin: 20px 0;
    transition: all .5s;
    cursor: pointer;
}

.side-menubar .single-icon i:hover{  
    transform: scale(2);
    background: crimson;
    color: white;
    border-radius: 10px;
    padding: 2px 0;
}



/* about section part----------------------- */

.about-title h2, .contact-title h2{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    font-family: 'ubuntu', sans-serif;
}
.about-title h2::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 180px;
    background: #111;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}
.about-title h2::after{
    content: "Who I am";
    position: absolute;
    background: #111;
    bottom: -35px;
    font-size: 20px;
    color: crimson;
    left: 50%;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about-subtitle h4{
    font-size: 25px;
    color: crimson;
}

.about-img img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.about-details{
    font-family: 'poppins', sans-serif;
}
.about-details h3{
    font-size: 25px;
    font-weight: 600;
}
.about-details h3 span{
    color: crimson;
}
.about-details p{
    text-align: justify;
}
.about-right{
    margin-top: 15px;
}



/* service section part------------------------ */

.service .service-title, .my-teams .teams-title h2{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    font-family: 'ubuntu', sans-serif;
}
.service .service-title h2::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 180px;
    background: #fff;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}
.service-title h2::after{
    content: "what i provide";
    position: absolute;
    background: #111;
    bottom: -35px;
    font-size: 20px;
    color: crimson;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
}

.service{
    background: #111;
    color: white;
    font-family: 'poppins', sans-serif;
}

.service-title h2{
    color: white;
    font-size: 45px;
    font-family: 'ubuntu', sans-serif;
}
.service-title h4{
    color: crimson;
    font-size: 25px;   
}

.service-div{
    background: #222;
    padding: 45px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s ease;
}
.service-div:hover{
    background: crimson;
    transform: scale(1.05);
}
.service-div:hover .icon-design i{
    color: white;
}
.service-div .icon-design i{
    color: crimson;
    font-size: 50px;
    margin-bottom: 15px;
    transition: all .6s ease;
}

.service-div .under-icon h3{
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.service-div .under-icon p{
    color: rgb(216, 207, 207);
    font-size: 15px;
}



/* skill part --------------------- */

.skill-title h2{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    font-family: 'ubuntu', sans-serif;
}
.skill-title h2::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 180px;
    background: #111;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}
.skill-title h2::after{
    content: "what I know";
    position: absolute;
    background: #111;
    bottom: -35px;
    font-size: 20px;
    color: crimson;
    left: 50%;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.skill-detais h4{
    font-size: 25px;
    font-weight: 600;
    font-family: 'ubuntu', sans-serif;
}
.skill-detais p{
    text-align: justify;
    font-size: 18px;
    font-family: 'ubuntu', sans-serif;
}
.skill-detais ul li{
    font-family: 'ubuntu', sans-serif;
    font-weight: 500;
}

/* skill part css-------------------------- */

.bars{
    margin-bottom: 20px;  
}
.bars span{
    font-weight: 600;
    font-size: 18px;
}
.bars .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bars .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.bars .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.bars .html::before{
    width: 90%;
}
.bars .css::before{
    width: 70%;
}
.bars .bst::before{
    width: 80%;
}
.bars .js::before{
    width: 60%;
}
.bars .react::before{
    width: 50%;
}

.worked-with p{
    color: gray;
    font-style: italic;
    margin-top: 10px;
}



/* team section css---------------------------------------- */

.my-teams{
    background: #111;
    color: white;
    font-family: 'poppins', sans-serif;
}

.teams-title h2::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 180px;
    background: #fff;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}
.teams-title h2::after{
    content: "who support me";
    position: absolute;
    background: #111;
    bottom: -35px;
    font-size: 20px;
    color: crimson;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
}

.car{
    background: #222;
    border-radius: 6px;
    padding: 25px 30px;
    transition: all 0.3s ease;
}
.car:hover{
    background: crimson;
    color: #fff;
    transform: scale(1.05);
}
.car:hover .box img{
    border: 5px solid #fff;
}
.car .box img{
    height: 200px !important;
    width: 200px !important;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.box .box-img{
    display: inline-block;
    text-align: center;
}
.car .box .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px;
}

.owl-dots{
    margin-top: 20px;
}
.owl-dot{
    height: 15px;
    width: 15px;
    margin: 0 5px;
    border-radius: 50%;
    outline: none !important;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 15px;
}

.owl-dot.active,
.owl-dot:hover{
    background: crimson !important;
}



/* contact section part-------------------- */
.contact-section{
    font-family: 'poppins', sans-serif;
}

.contact-title h2::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 180px;
    background: #111;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}
.contact-title h2::after{
    content: "get in touch";
    position: absolute;
    background: #111;
    bottom: -35px;
    font-size: 20px;
    color: crimson;
    left: 50%;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.contact-detail .text{
    font-size: 20px;
    font-weight: 600;
}

.contact-icon{
    font-size: 25px;
    color: crimson;
}
.contact-head{
    margin: 0px -30px;
}
.contact-head h4{
    margin: 0;
    font-size: 17px;
}
.contact-head p{
    color: #333;
}


/* projects section part------------------------ */
.project-nav{
    background: white;
}
.projects{
    margin-top: 80px;
}
.projects h2{
    text-decoration: underline;
    font-size: 30px;
    font-weight: 500;
    font-family: 'ubuntu', sans-serif;
}
.git-link a{
    margin: 0 5px;
}
.git-btn{
    background: crimson;
    color: white;
    padding: 2px 3px;
}

.project-img-1{
    height: 350px;
    width: 100%;
    background: #000;
    background-image: url(./images/Game\ Champ.png);
    background-size: cover;
    transition: all 8s;
    cursor: pointer;
}
.project-img-2{
    height: 350px;
    width: 100%;
    background: #000;
    background-image: url(./images/KiddieCorner\ _\ Home.png);
    background-size: cover;
    transition: all 8s;
    cursor: pointer;
}
.project-img-1:hover{
    background-position: bottom;
}
.project-img-2:hover{
    background-position: bottom;
}


.footer{
    font-family: 'poppins', sans-serif;
}
.footer{
    background: #111;
    padding: 15px 10px;
}
.footer p{
    color: white;
    font-size: 18px;
}
.footer p a{
    color: crimson;
    cursor: pointer;
    transition: .3s;
}









